//registry=https://nexus.entro-lab.com/repository/npm-group/
//nexus.entro-lab.com/repository/npm-group/:_authToken=NpmToken.94713c2d-c402-3702-8770-b2e717745d26
//nexus.entro-lab.com/repository/npm-private/:_authToken=NpmToken.0ac9f8a0-cb32-3ee3-9201-0afe97c98142
registry=https://registry.npmjs.org