:host ::ng-deep {
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .product-name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .product-description {
    margin: 0 0 1rem 0;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .product-category {
    font-weight: 600;
    vertical-align: middle;
  }

  .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    img {
      width: 150px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }

    .product-list-detail {
      flex: 1 1 0;
    }

    .p-rating {
      margin: 0 0 0.5rem 0;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      align-self: flex-end;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .p-button {
      margin-bottom: 0.5rem;
    }
  }

  .product-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;

    .product-grid-item-top,
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      width: 75%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
    }

    .product-grid-item-content {
      text-align: center;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .mat-expansion-panel-header {
    background-color: #95d5b2 !important;
  }

  .mat-expansion-panel-header-description {
    display: block;
    font-size: 65%;
    /* padding-top: 15px; */
  }
  .dashboard-frame {
    margin-bottom: 1%;
  }

  .dashboard-card {
    max-width: 400px;
    margin: 5px 0px;
    padding: 0;
    border-radius: 10px;
    font-size: 85% !important;
    /* background-color: lightskyblue; */
  }

  .dashboard-header-image {
    background-color: blue;
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  .mat-card {
    padding: 0;
    font-family: Myriad Pro, Arial Unicode MS, Arial, Helvetica, sans-serif,
      Arial, Helvetica, sans-serif !important;
    color: black;
  }

  .mat-card-header {
    display: inline;
  }

  .mat-card-content,
  .mat-card-subtitle,
  .mat-card-title {
    margin-bottom: 8px;
  }

  .mat-card-title {
    width: auto !important;
    font-size: 100% !important;
  }

  .mat-card-header-text {
    margin: 0;
    padding: 0 8px;
  }

  .card-title-width {
    width: 270px;
  }

  .mat-card-actions {
    margin: 0 auto !important;
    padding: 0;
    height: 60px;
  }

  .mat-card-content {
    font-size: 100% !important;
  }

  .mat-card-footer {
    margin: 0 auto !important;
    padding: 0;
  }

  .mat-card-footer-bottom {
    margin: 0 auto !important;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
  }

  .card-button-frame {
    padding: 0px;
    /* padding-left: 0px;
        padding-right: 0px; */
    /* padding-bottom: 5px; */
    text-align: center;
    /* height: 58px; */
  }

  .card-button-frame-bg {
    background-color: rgb(255, 255, 255);
  }

  .button-frame {
    padding: 0px;
    border: 0px;
    padding: 1px;
  }

  .label-align-left {
    text-align: left;
  }

  .filter-frame {
    margin-top: 32px;
    text-align: left;
    margin-right: 0px;
  }

  .checkbox-me-frame {
    margin-top: 34px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
  }

  .checkbox-me-larger {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0px;
  }

  .checkbox-me-label {
    padding-left: 10px;
    font-size: x-large;
    margin-top: 3px;
  }

  .status-small {
    font-size: x-small;
    font-weight: bold;
  }

  .card-status-bottom {
    position: absolute;
    bottom: 5%;
    width: 53px;
  }

  .btn-padding {
    padding: 0px;
    border: 0px;
  }

  .graph-status {
    text-align: left;
  }

  .header {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .dashboard-title-text {
    padding-top: 8px;
    /* padding-bottom: 5px; */
  }

  .graph-margin-top {
    margin-top: 1%;
  }

  .btn-icon-margin {
    margin-right: 10px;
  }

  .mat-button-wrapper {
    padding: 0 !important;
  }

  .mat-mini-fab {
    line-height: 0px;
    font-size: 30px;
  }

  .btn-icon-img {
    width: 22px;
  }

  .bar-chart-display {
    display: block;
  }

  .div-query-margin-top {
    margin-top: 32px;
  }

  .btn-query {
    color: white !important;
  }

  .card-padding-left-18 {
    padding-left: 18px;
  }

  .card-padding-left-19 {
    padding-left: 19px;
  }

  .card-status-align {
    text-align: right;
  }

  .card-status-font {
    font-weight: lighter;
  }

  .card-count-service {
    text-align: center;
  }

}

.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.query-btn {
  margin-top: 32px;
}

.nowarp {
  white-space: nowrap;
}

.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 2rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

.btn {
  cursor: pointer;
  background-color: unset;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.25;
  cursor: default;
}

.padding-right-0 {
  padding-right: 0px;
}

.margin-top-2 {
  margin-top: 2px;
}

.margin-top-hl {
  margin-top: 0.5rem;
}

.margin-top-24 {
  margin-top: 24px;
}

.notidialog {
  width: 25vw;
  min-width: 10vw !important;
  left: 30vw;
  top: 1.3vw;
}

.buttonALM {
  margin-top: 1.5px;
}

.btn-close {
  background-color: #ffcd11 !important;
  border: 1px solid #ffcd11 !important;
}

@media screen and (max-width: 40em) {
  .notidialog {
    width: 75vw;
  }
}

::ng-deep .p-dialog {
  // min-width: 10vw !important;
  .notidialog {
    width: 25vw;
    min-width: 10vw !important;
    left: 30vw;
    top: 1.3vw;
  }

  .p-dialog-header{
    background-color: #ffaa44 !important;
  }
}

.icon-action-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

::ng-deep.p-component{
  padding-top: 2px;
}

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  width: 90%;
}

.product-badge.status-pass {
  background: #c8e6c9;
  color: #256029;
}

.product-badge.status-warning {
  background: #ffcdd2;
  color: #c63737;
}

.mat-card-actions-3bb{
  padding: 0px 0.8rem;
  height: 4rem !important;
}

.card-number-space{
  justify-content: space-between;
}

.card-number-display{
  display: flex;
  padding: 0px;
}

.card-spinner{
  text-align: center;
  position: absolute;
  border: 1px solid #818E6E24;
  width: 100%;
  z-index: 1000;
  background-color: #f3f3f39e;
  display: inline;
  height: 100%;
  border-radius: 10px;
  padding-top: 2em;
}