.table-width-5 {
  width: 5%;
}

.table-width-6 {
  width: 6%;
}

.table-width-10 {
  width: 10%;
}

.table-width-15 {
  width: 15%;
}

.table-width-30 {
  width: 20%;
}

.div-count {
  /* margin-top: 10px; */
  // padding-left: 10px;
  margin-top: 5px;
  margin-left: 0px;
}

.label-count {
  font-size: small;
}

// ::ng-deep .p-dialog {
//   .p-dialog-content{
//     min-height: 200px !important;
//     padding: 0 !important;
//     overflow-x: hidden;
//   }
// }

.customer-content{
  height: 250px;
  padding: 10px;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.div-count-padding{
  padding: 0px !important;
}