@import "./variable";

.p-button {
  font-size: 0.8rem !important;
  padding: 0 10px !important;
}

.p-button.p-button-default,
.p-buttonset.p-button-default > .p-button,
.p-splitbutton.p-button-default > .p-button {
  color: #2e2e2e;
  background: $gray-color;
  border: 1px solid $gray-color;
}

.p-button.p-button-default:enabled:hover,
.p-buttonset.p-button-default > .p-button:enabled:hover,
.p-splitbutton.p-button-default > .p-button:enabled:hover {
  color: #2e2e2e;
  background: darken($gray-color, 5%);
  border-color: darken($gray-color, 3%);
}

.p-button.p-button-default:enabled:active,
.p-buttonset.p-button-default > .p-button:enabled:active,
.p-splitbutton.p-button-default > .p-button:enabled:active {
  color: #2e2e2e;
  background: darken($gray-color, 5%);
  border-color: darken($gray-color, 3%);
}

p-calendar > .p-calendar-w-btn > button {
  background: none;
  border-left: none !important;
  border: 1px solid #e1e1e1;
  color: #a9a9a9;
}
