// $primary-color: #abd234;
$primary-color: #b2d234;
$second-color: #333;
$danger-color: #c94242;
$green-color-light: #679f0f;
$green-color-dark: #74a822;
$greenblue-color: #2ba58e;
$gray-color-light: #efefef;
$gray-color: #d8d8d8;
$disabled-color: #959495;
$gray-color-dark: #4b4b4b;
$dark-color: #151515;
$border-radius: 4px;
$color-red: red;
$color-red-light: #f8cecc;
$orange-color: #ff8c00;
$orange-color-red: #ff4500;
$steel-blue-color: #4682b4;
$overdue-color: #d48a57;
