.chip-btn {
  display: inline-block;
  padding: 5px 15px;
  /* height: 50px; */
  /* font-size: 16px; */
  line-height: 15px;
  border-radius: 15px;
  background-color: #e3eeb6; /*#f1f1f1;*/
  margin: 2px;
}

.reset-padding {
  padding: 0 !important;
}
.icon-margin {
  margin: 5px;
}
