// Pridi

@font-face {
  font-family: Pridi;
  src: url("assets/fonts/Pridi-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Pridi;
  src: url("assets/fonts/Pridi-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Pridi;
  src: url("assets/fonts/Pridi-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Pridi;
  src: url("assets/fonts/Pridi-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Pridi;
  src: url("assets/fonts/Pridi-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Pridi;
  src: url("assets/fonts/Pridi-Bold.ttf");
  font-weight: 700;
}

//Bai Jamjuree

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: BaiJamjuree;
  src: url("assets/fonts/BaiJamjuree-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: db_heavent_cond;
  src: url("assets/fonts/db_heavent_cond_v3.2-webfont.woff") format("woff");
}
